

.container-table {
    grid-area: table;
}

.container-lists {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-areas: '. table .';
    margin: 5% 0 5% 0;
}

.row {
    display: flex;
    justify-content: flex-end;
    margin: 5% 0;
}

.add-seller {
    margin: 10% 0 0;
}