

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    opacity: 0.86;
    position: fixed;
}

.row-loading {
    display: flex;
    justify-content: center;
}

.row-paragraph {
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.circule-progress {
    color: #68D42C;
}

.container-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-flow: column-reverse;
}

.loading-aig {
    width: 50%;
}


